body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px
}

h1, h2 {
    color: #63440a;
}

form {
    margin-bottom: 20px;

}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

ul {
    padding: 0;
}
li {
    margin-bottom: 20px;
}

.delete-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}